NAME	tutorial_B_all

# calculated SAXS curve for components 00008 + 00009 + 1% noise
SAXS	1	-scale -offset -file saxs_data/target_saxs_B.dat

# component stoichiometry
STCH	1	-component TRAP 1 -component AT 2

# calculated FRET lifetime curve for components 00008 + 00009 + 1% noise
CURV	1	-scale -offset -file fret_data/target_fret_B.dat
